#!/usr/bin/make -f
# -*- makefile -*-

DEB_VERSION := $(shell dpkg-parsechangelog --format rfc822 | grep-dctrl -ensVersion -S .)

%:
	dh $@ --with autoreconf --parallel

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_auto_install:
	make install        DESTDIR=$(CURDIR)/debian/nagios-plugin-check-modbus
